# Do not change this line.
RewriteEngine on
 
# Change yourdomain.com to be your main domain.
RewriteCond %{HTTP_HOST} ^(www.)?cake.khemrajregmi.com.np$
 
# Change 'subfolder' to be the folder you will use for your main domain.
RewriteCond %{REQUEST_URI} !^/public/
#CHANGE ME
 
# Don't change this line.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Change 'subfolder' to be the folder you will use for your main domain.
RewriteRule ^(.*)$ /public/$1
#CHANGE ME
 
# Change yourdomain.com to be your main domain again.
# Change 'subfolder' to be the folder you will use for your main domain
# followed by / then the main file for your site, index.php, index.html, etc.
 
RewriteCond %{HTTP_HOST} ^(www.)?cake.khemrajregmi.com.np$
RewriteRule ^(/)?$ /public/index.php [L]
#CHANGE ME